
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#ab_canvas{
	border-width: 10px;
	border-style: ridge;
	background-color:white;
}

#color_info{
	text-align: center;
}

#clear_button{
	width:250px;
	text-align: center;
	color: darkgoldenrod;
	background-color: rgb(3, 0, 0);
	font-weight:bolder;
}